/* Estilos para el widget de AmoCRM */

.amo-button-holder.amo-horisontal {
  position: fixed !important;
  z-index: 3001 !important;
  right: 10px !important;
  bottom: 210px !important;
  padding: 10px !important;
  box-sizing: border-box !important;
}
